site_name: Kubernetes Guide
site_url: https://www.k8s.guide
use_directory_urls: true
site_description: "A comprehensive, easy-to-follow guide for Kubernetes"
site_author: "Aaron Braundmeier"
nav:
  - Home: index.md
  - Workloads & Config:
      - Getting Started: overview.md
      - Pods & Deployments: pods-deployments.md
      - Scaling & HPA: scaling-hpa.md
      - StatefulSets: statefulsets.md
      - DaemonSets: daemonsets.md
      - Jobs & Cronjobs: jobs-cronjobs.md
      - Init Containers: init-containers.md
      - Services & Networking:
          - Services: services-networking.md
          - Ingress: ingress.md
      - Configuration:
          - ConfigMaps & Secrets: configmaps-secrets.md
          - Health Probes: probes.md
          - Limits & Requests: limits-requests.md
      - Storage:
          - Overview: storage.md
  - Cluster Mgmt:
      - Kubernetes API: kubernetes-api.md
      - Namespaces: namespaces.md
      - Helm: helm-package-management.md
      - Operators & CRDs: operators-crds.md
      - Quotas & Limits: quotas-limits.md
      - Network Policies: netpol.md
  - SecOps:
      - Security Primer: security.md
      - RBAC: rbac.md
      - Pod Security (PSA): psa.md
      - Security Context: sec-context.md
      - Image Scanning: image-scan-sign.md
      - Troubleshooting: troubleshooting.md
      - Audit & Logging: audit-logging.md
      - Maintenance: maintenance.md
  - Certifications:
      - Guide Overview: certification-preparation.md
      - CKA (Admin): cka.md
      - CKAD (Developer): ckad.md
      - CKS (Security): cks.md
  - Resources:
      - Kubectl Cheat Sheet: kubectl-cheatsheet.md
      - Quiz: quiz.md
      - About: about.md
theme:
  name: material
  custom_dir: overrides
  logo: /images/logo.png
  favicon: /images/logo.png
  font:
    text: Ubuntu
    code: JetBrains Mono
  palette:
    - scheme: default
      primary: 'indigo'
      accent: 'indigo'
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: 'indigo'
      accent: 'indigo'
      toggle:
        icon: material/white-balance-sunny
        name: Switch to light mode
  features:
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.footer
    - navigation.tracking
    - palette.toggle
    - content.tooltips
    - content.code.copy
    - content.code.select
extra_css:
  - ./stylesheets/extra.css
  - ./stylesheets/quiz.custom.css
extra:
  generator: false
  analytics:
    provider: google
    property: "G-WF0BEBS62L"
  meta:
    - name: description
      content: "Comprehensive Kubernetes guide for beginners and professionals."
    - name: keywords
      content: "Kubernetes, guide, beginners, professionals, CKA, CKAD"
    - name: author
      content: "Aaron Braundmeier"
markdown_extensions:
  - admonition
  - abbr
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.inlinehilite
  - pymdownx.mark
  - toc:
      toc_depth: 0
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - md_in_html
plugins:
  - mermaid2
  - search
  - inline-svg
  - mkdocs_quiz
extra_javascript:
  - ./javascripts/extra.js
  - ./javascripts/adsense.js
  - ./javascripts/quiz.custom.js
