.md-header {
    background: #44475A;
}

.md-footer {
    background: #44475A;
}

.md-footer-meta {
    display: none;
}

.md-footer__button {
    color: #BD93F9;
}

.md-nav__link--active, .md-nav__link:hover, .md-nav__link:active {
    color: #BD93F9 !important;
}

/* Override the color for active section headers in the sidebar */
.md-nav__title--active {
    color: #BD93F9 !important; /* Replace with your desired color */
}


.md-typeset .admonition.note .admonition-icon::before {
    content: 'brightness_4';
}

.md-nav__link:focus {
    color: #BD93F9 !important;
}

.admonition {
    border-color: #BD93F9 !important;
    background-color: rgba(189, 147, 249, 0.20) !important;
}

.admonition-title::before {
    background-color: #BD93F9 !important;
}



h1 {
    font-style: bold !important;
}

h2 {
    color: #8f9bbd;
    font-weight: bold !important;
}