.md-header {
    background: #4051b5;
}

.md-footer {
    background: #4051b5;
}

.md-footer-meta {
    display: none;
}

.md-footer__button {
    color: #ffffff;
}

.md-nav__link:hover {
    color:#4051b5 !important;
}

.md-nav__link--active {
    font-weight: bold;
    color:#4051b5 !important;
}

h1 {
    font-style: bold !important;
}

h2 {
    color: #8f9bbd;
    font-weight: bold !important;
}